:root {
	--color-bg: #333;
	--color-text-secondary: #fff;
	--color-text-primary: #fd4;

	--font-words: "Roboto Nono", monospace;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--color-bg);
	color: var(--color-text-primary);
}

.app__gamePage {
	height: 100vh;
	width: 100vw;
	padding: 4rem 5rem;

	display: flex;
	flex-direction: column;
}

h1 {
	color: var(--color-text-primary);
}

.app__gamePage-info {
	display: grid;
	grid-template-columns: 1fr 1fr;

	padding: 8rem 8rem 2rem;
	color: var(--color-text-primary);
}

#newBtn {
	text-align: right;
}

#newBtn button {
	background: rgba(255, 255, 255, 0.2);
	border: none;
	outline: none;
	border-radius: 8px;
	color: var(--color-text-secondary);
	padding: 5px 10px;
	cursor: pointer;
}

/* typing area */

.app__gamePage-gameArea {
	position: relative;
	padding-inline: 9rem;
}

.app__gamePage-gameArea_words {
	line-height: 30px;
	height: 90px;
	overflow: hidden;
	filter: blur(3px);
}

div.word {
	display: inline-block;
	font-family: var(--font-words);
	margin: 0 3px;
}

.app__gamePage-gameArea_focus {
	position: absolute;
	inset: 0;
	text-align: center;
	margin-top: 35px;

	color: var(--color-text-secondary);
}

/* handle starting game with focusing */
.app__gamePage-gameArea:focus .app__gamePage-gameArea_words {
	filter: blur(0);
}

.app__gamePage-gameArea:focus .app__gamePage-gameArea_focus {
	display: none;
}
