@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");

:root {
	--color-bg: #333;
	--color-primary: #fd4;
	--color-error: #f55;
	--color-text-primary: #fff;
	--color-text-secondary: #666;

	--font-words: "Roboto Nono", monospace;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--color-bg);
	color: var(--color-primary);
}

.app__gamePage {
	height: 100vh;
	width: 100vw;
	padding: 4rem 5rem;

	display: flex;
	flex-direction: column;
}

.app__gamePage-info {
	display: grid;
	grid-template-columns: 1fr 1fr;

	padding: 8rem 8rem 2rem;
}

#newBtn {
	text-align: right;
}

#newBtn button {
	background: rgba(255, 255, 255, 0.2);
	border: none;
	outline: none;
	border-radius: 8px;
	color: var(--color-text-secondary);
	padding: 5px 10px;
	cursor: pointer;
}

/* typing area */

.app__gamePage-gameArea {
	position: relative;
	padding-inline: 9rem;
	line-height: 35px;
	max-height: 115px;
	overflow: hidden;
}
.app__gamePage-gameArea:focus {
	outline: none;
}

.app__gamePage-gameArea_words {
	filter: blur(3px);
}

div.word {
	display: inline-block;
	font-family: var(--font-words);
	margin: 0 3px;
	color: var(--color-text-secondary);
}

.app__gamePage-gameArea_focus {
	position: absolute;
	inset: 0;
	text-align: center;
	margin-top: 35px;

	color: var(--color-text-primary);
}

/* handle starting game with focusing */
.app__gamePage-gameArea:focus .app__gamePage-gameArea_words {
	filter: blur(0);
}

.app__gamePage-gameArea:focus .app__gamePage-gameArea_focus {
	display: none;
}

.letter {
	font-size: 2rem;
}

.letter.correct {
	color: var(--color-text-primary);
}

.letter.error {
	color: var(--color-error);
}

.letter.extra {
	opacity: 0.7;
	font-style: italic;
}

/* blinking leading cursor */

.app__gamePage-gameArea_cursor {
	display: none;
	position: fixed;
	top: 285px;
	left: 226px;
	width: 0.7px;
	height: 1.5rem;
	background-color: var(--color-primary);

	animation: blink-cursor 0.7s infinite;
}

@keyframes blink-cursor {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

.app__gamePage-gameArea:focus .app__gamePage-gameArea_cursor {
	display: block;
}

#game.over .app__gamePage-gameArea_words {
	filter: blur(3px);
}

#game.over .app__gamePage-gameArea_cursor {
	display: none;
}

#game.over .app__gamePage-gameArea_focus {
	display: none;
}
